/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layouts */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Utils */
.mg-bot {
  margin-bottom: 6em;
}

/* Hero & Nav*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
}

nav img {
  margin-left: 3rem;
}

ul {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:rgb(236, 236, 236);
  list-style-type: none;
}

ul li {
  margin-right: 2rem;
  font-size: 1.3rem;
}

.hero-section {
  background-image: url(./img/hero-img2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 50ch;
  font-family: 'Nova Square', cursive;
  font-size: 3rem;
  color: rgb(236, 236, 236);
  text-shadow: 2px 5px black;
}

.hero-text span {
  color: rgb(212, 2, 2);
}

/* Intro */
.services {
  display: grid;
  grid-template-columns: 15% 1fr 1fr 1fr;
  column-gap: 2em;
  grid-template-rows: 500px;
  max-width: 80%;
  margin: auto;
}

.services-text {
  grid-column: 1/3;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  max-width: 50ch;
}

.services-text h1 {
  margin-bottom: 1.2em;
  padding-bottom: .5em;
  border-bottom: 5px solid rgb(212, 2, 2);
}

.services-text p {
  font-size: 1rem;
}

.services-img {
  grid-column: 3/6;
}

.services-img img {
  max-width: 100%;
}

/* Group */
.deck {
  display: flex;
  justify-content: space-between;
  min-width: 80%;
  height: 66vh;
}

.card-outer {
  flex-basis: 31%;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 4px;
  background-color: #F4F5F9;
}

.card {
  flex-basis: 40%;
  background-position: center;
}

.img1 {
  background-image: url(./img/card1.jpg);
}

.img2{
  background-image: url(./img/card2.jpg);
}

.img3{
  background-image: url(./img/card3.jpg);
}

.card-text {
  margin: 1em 0.8em;
  max-width: 30ch;
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  color: rgb(36, 36, 36);
}

.card-text h3 {
  color: rgb(212, 2, 2);
} 

.card-text p {
  margin-top: 1em;
  font-size: 1.2rem;
}

/* Card btn */
.card-btn {
  align-self: center;
}

.card-btn button {
  margin: 1em 0.8em;
  border: 2px solid rgb(212, 2, 2);
  border-radius: 4px;
  padding: .8em 1em;
  background-color:  rgb(212, 2, 2);
  font-size: 1.2rem;
  color: white;
}

/* Parallax */
.parallax {
  width: 100%;
  height: 30vh;
  background-image: 
  linear-gradient(
    180deg, 
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
    ), 
  url(./img/hero-img2.jpg);
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
}

.parallax h1 {
  font-family: 'Nova Square', cursive;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: white;
}

/* Experiences */
.exp-container {
  max-width: 80%;
  display: flex;
}

.exp-img {
  display: flex;
}

.exp-img img, .exp-container-reverse img {
  max-width: 100%;
}

.exp-text {
  align-self: stretch;
  justify-self: stretch;
  width: 60ch;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #132959;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  color: rgb(236, 236, 236);
}

.exp-text p {
  max-width: 40ch;
  padding-top: 1em;
  font-size: 1.2rem;
}

.exp-container-reverse {
  display: flex;
  max-width: 80%;
  flex-direction: row-reverse;
}

/* Button Styles */
.btn-dark {
  align-self: flex-start;
  margin-top: 1em;
  border: 2px solid rgb(212, 2, 2);
  border-radius: 4px;
  padding: .4em .8em;
  background-color: #132959;
  font-size: 1.7rem;
  color: white;
  transition: all .3s;
}

.exp-text button:hover {
  background-color: rgb(212, 2, 2);
}

.bg-wht {
  background-color: #EBEFF4;
  color: #132959;
}

.btn-wht {
  align-self: flex-start;
  margin-top: 1em;
  border: 2px solid rgb(212, 2, 2);
  border-radius: 4px;
  padding: .4em .8em;
  background-color: #F4F5F9;
  font-size: 1.7rem;
  color: #132959;
  transition: all .3s;
}

.btn-wht:hover {
  color: #F4F5F9;
}

/* TODO */
/* Make It responsive */
/* Create Footer */
/* Add Animations */
/* Clean up spaghetti code */